
target/classes/test/BubbleSequence/BubbleSequence.class
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/e/2/e2210818a93ffb5196cc33a1ef213c0546ab263e
.idea/sonarlint/issuestore/a/6/a6127e8971ebe8c647eb0ee44635298f18bd3396
.idea/sonarlint/issuestore/7/c/7cf61820f57e36a9e45578c727ff4924bbaac6e2
.idea/sonarlint/issuestore/7/b/7b7eadac0ddd757251684f0b4b01bf162cb2ab2f
.idea/sonarlint/issuestore/6/e/6ecaeae75dcedfbe139113374d1fc5572a1ebdad
.idea/shelf/Uncommitted_changes_before_Update_at_2020_10_26_20_48__Default_Changelist_1.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020_10_26_20_48__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020_10_26_20_48_[Default_Changelist]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020_10_26_20_48_[Default_Changelist]/shelved.patch
.idea/jarRepositories.xml
